<div class="row" style="margin-top:10px ;">
  <div class="col-md-7">
    <div class="card" style="width: 108% !important; ">
      <div class="card-header row">
       <div class="col-md-2">
        <img src="assets/img/pexels-ali-pazani-2613260@2x.png" style="width:50px; height: 50px;" alt="abcd">
       </div>
       <div class="col-md-8">
          <h5 style="margin:0px;padding: 0px;margin-left: -25px;">Lara Leones</h5>
          <p style="margin:0px;padding: 0px;margin-left: -25px;">@thewallart</p>
       </div>
       <div class="col-md-2">
        <button style="background: transparent;border: none;"><img src="assets/img/61140.png" alt="abcd" style="background:transparent;color: black; width: 24px;
          height: 24px;"></button>
       </div>
      </div>
      <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.... <a href="" style="color: red;">Read More</a></p>
          <img src="assets/img/heart (2).svg"  alt="" style="position:absolute;bottom: 300px;left: 430px;">
        <img src="assets/img/pexels-humphrey-muleba-2045248@2x.png" alt="">
      </div>
      <hr>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-3">
            <button style="background: transparent;border: none;"><img src="assets/img/heart (1).svg" alt="abcd" style="background: transparent;color: black;padding-right: 7px;">9.8k</button>
           </div>
           <div class="col-md-3">
            <button style="background: transparent;border: none;"><img src="assets/img/comment.svg" alt="abcd" style="background: transparent;color: black;padding-right: 7px;">8.6k</button>
           </div>
           <div class="col-md-3">
            <button style="background: transparent;border: none;"><img src="assets/img/share.svg" alt="abcd" style="background: transparent;color: black;padding-right: 7px;">7.2K</button>
           </div>
        </div>
      
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card" style="width: 108% !important; ">
      <div class="card-header row">
       <div class="col-md-2">
        <img src="assets/img/pexels-imad-clicks-9810659@2x.png" style="width:50px; height: 50px;" alt="abcd">
       </div>
       <div class="col-md-8">
          <h5 style="margin:0px;padding: 0px;margin-left: -25px;">Thomas J</h5>
          <p style="margin:0px;padding: 0px;margin-left: -25px;">@thecustomercreater</p>
       </div>
       <div class="col-md-2">
        <button style="background: transparent;border: none;"><img src="assets/img/61140.png" alt="abcd" style="background:transparent;color: black;width: 24px;
          height: 24px;"></button>
       </div>
      </div>
      <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.... <a href="" style="color: red;">Read More</a></p>
          <img src="assets/img/heart (2).svg"  alt="" style="position:absolute;bottom: 300px;left: 430px;">
        <img src="assets/img/pexels-tobias-bjørkli-2236382@2x.png" alt="">
      </div>
      <hr>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-3">
            <button style="background: transparent;border: none;"><img src="assets/img/heart (1).svg" alt="abcd" style="background: transparent;color: black;padding-right: 7px;">9.8k</button>
           </div>
           <div class="col-md-3">
            <button style="background: transparent;border: none;"><img src="assets/img/comment.svg" alt="abcd" style="background: transparent;color: black;padding-right: 7px;">8.6k</button>
           </div>
           <div class="col-md-3">
            <button style="background: transparent;border: none;"><img src="assets/img/share.svg" alt="abcd" style="background: transparent;color: black;padding-right: 7px;">7.2K</button>
           </div>
        </div>
      
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>Slide 1</ng-template>  
      <ng-template carouselSlide>Slide 2</ng-template>  
      <ng-template carouselSlide>Slide 3</ng-template>  
    </owl-carousel-o> -->
  </div>
</div>
<section style="width: 70%;">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><div class="card" style="width: 15rem;height: 1px;">
      <img class="card-img-top" src="assets/img/Image 39@2x.png" height="200px" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" style="font-size: 11px;">Modern Wall Decor Framed Painting</p>
        <div class="row">
          <div class="col-md-4">$199.99</div>
          <div class="col-md-8" style="display: flex;">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            
          </div>
        </div>
      </div>
    </div></ng-template>  
    <ng-template carouselSlide><div class="card" style="width: 15rem;height: 1px;">
      <img class="card-img-top" src="assets/img/Image 40@2x.png" height="200px" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" style="font-size: 11px;">Modern Wall Decor Framed Painting</p>
        <div class="row">
          <div class="col-md-4">$199.9</div>
          <div class="col-md-8" style="display: flex;">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            
          </div>
        </div>
      </div>
    </div></ng-template>  
    <ng-template carouselSlide><div class="card" style="width: 15rem;height: 1px;">
      <img class="card-img-top" src="assets/img/pexels-max-vakhtbovych-6782342@2x.png" height="200px" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" style="font-size: 11px;">Modern Wall Decor Framed Painting</p>
        <div class="row">
          <div class="col-md-4">$199.9</div>
          <div class="col-md-8" style="display: flex;">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            
          </div>
        </div>
      </div>
    </div></ng-template> 
    <ng-template carouselSlide><div class="card" style="width: 15rem;height: 1px;">
      <img class="card-img-top" src="assets/img/pexels-pixabay-164455@2x.png" height="200px" alt="Card image cap">
      <div class="card-body">
        <p class="card-text" style="font-size: 11px;">Modern Wall Decor Framed Painting</p>
        <div class="row">
          <div class="col-md-4">$199.9</div>
          <div class="col-md-8" style="display: flex;">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            <img class="card-img-top" src="assets/img/star.svg" style="width: 25px;height: 15px;" alt="Card image cap">
            
          </div>
        </div>
      </div>
    </div></ng-template>    
  </owl-carousel-o>
</section>
