<div class="row header" style="background: #F5F5F5 0% 0% no-repeat padding-box;">
    <div class="col-md-3 logo">
        <div>
            <h1 style="padding-top: 16px;margin-left: 10px;">LOGO</h1>
        </div>
    </div>
    <div class="col-md-6" style="right: 38px;">
        <div class="container">

            <div class="row height d-flex justify-content-center align-items-center" style="padding-top:20px;background-color: #F5F5F5;">

              <div class="col-md-8" style="right:70px;bottom:8px">

                <div class="search" style="border: none;">
                  <i class="fa fa-search" style="padding-top: 15px;"></i>
                  <input type="text" class="form-control" style="border: none;" placeholder="Search here...">
                  <button class="btn btn-primary" style="left: 388px;background: transparent;color: black;"> <img src="/assets/img/6488674.png" style="height: 30px;width: 30px;" alt=""> Filter</button>
                 
                </div>
                
              </div>
              
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary">Become a seller</button>
    </div>
</div>
<div >
    <div class="sidebar side"  style="top:107px;height:80vh;background-color:#F5F5F5 0% 0% no-repeat padding-box;">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel" style="background-color: #F5F5F5;padding: 100px;">
        <!-- <app-navbar></app-navbar> -->
        <router-outlet></router-outlet>
        <!-- <app-footer></app-footer> -->
    </div>
    <div class="sidebar side"  style="top:107px;left:950px;height:80vh ;">
        <div class="sidebar-wrapper" style="border: transparent 2px;border-radius: 10px;height: 80vh;">
           
            <ul  class="nav">
                <li
                  routerLinkActive="active"
                  
                  class="nav-item"
                  
                >
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-4">
                        <a  style="padding: 20px;color: black;font-weight: 600;cursor: pointer;">Artists</a>
                    </div>
                    <div class="col-md-6">
                        <a  style="color:  #8D8D8D;cursor: pointer;;">photographers</a>
                    </div>
                </div>
                
                <div class="card" style="width: 250px;height: 176px;background-image: url('assets/img/pexels-ekaterina-12203460@2x.png'); background-size: 250px 176px">
                    <div class="card-body">
                     
                      <img src="assets/img/pexels-anastasia-shuraeva-4406721@2x.png" style="position: absolute;top: 100px;object-fit: none;border: 2px solid #FFFFFF;
                      border-radius: 10px; height:70px ;" alt="">
                     <button style="border: 2px solid #ffffff;padding:5px;background-color: green;border-radius: 100%;position: absolute;top: 103px;left:71px ;"></button>
                      <h5 style="position:absolute;top: 110px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">Thomas Edward</h5>
                      <p style="position:absolute;top: 130px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">@thewildwithyou</p>
                    </div>
                </div>
                <div class="card" style="width: 250px;height: 176px;background-image: url('assets/img/1.png'); background-size: 250px 176px;">
                    <div class="card-body">
                     
                      <img src="assets/img/11.png" style="position: absolute;top: 100px;object-fit: none;border: 2px solid #FFFFFF;
                      border-radius: 10px; height:70px ;" alt="">
                     <button style="border: 2px solid #ffffff;padding:5px;background-color: green;border-radius: 100%;position: absolute;top: 103px;left:71px ;"></button>
                      <h5 style="position:absolute;top: 110px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">Chris Doe</h5>
                      <p style="position:absolute;top: 130px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">@thewildwithyou</p>
                    </div>
                </div>
                <div class="card" style="width: 250px;height: 176px;background-image: url('assets/img/2.png');background-size: 250px 176px;">
                    <div class="card-body">
                     
                      <img src="assets/img/22.png" style="position: absolute;top: 100px;object-fit: none;border: 2px solid #FFFFFF;
                      border-radius: 10px; height:70px ;" alt="">
                     <button style="border: 2px solid #ffffff;padding:5px;background-color: green;border-radius: 100%;position: absolute;top: 103px;left:71px ;"></button>
                      <h5 style="position:absolute;top: 110px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">Emily Jones</h5>
                      <p style="position:absolute;top: 130px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">@thewildwithyou</p>
                    </div>
                </div>
                <div class="card" style="width: 250px;height: 176px;background-image: url('assets/img/4.png');background-size: 250px 176px;">
                    <div class="card-body">
                     
                      <img src="assets/img/44.png" style="position: absolute;top: 100px;object-fit: none;border: 2px solid #FFFFFF;
                      border-radius: 10px; height:70px ;" alt="">
                     <button style="border: 2px solid #ffffff;padding:5px;background-color: green;border-radius: 100%;position: absolute;top: 103px;left:71px ;"></button>
                      <h5 style="position:absolute;top: 110px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">Jessica Williams</h5>
                      <p style="position:absolute;top: 130px;font-size: 14px;left:100px;font: normal normal 600 16px/19px Gilroy;
                      letter-spacing: 0px;
                      color: #FFFFFF;
                      opacity: 1;">@thewildwithyou</p>
                    </div>
                </div>
                </li>
              </ul>
        </div>
        
    </div>
</div>
